body{
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     

    font-family: monospace, sans-serif;
    color: white;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: center;

    gap: 10px;
}
#rock-button,#paper-button,#scissors-button{
    border-radius: 5px;
    background-color: #94BBE9;
    height: 50px;
    width: 70px;
    border: none;
    color: white;
    cursor: pointer;
    
}
.results-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 20px;
}